body{
background-color:#333;
}

header{
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-item: space-between;
    background-color: white;
    color: #333;
    font-size: large;
}
