body{
background-color:#333;
margin :0;
padding :0;
font-family:sans-serif;
}

header{
    height: 90px;
    display: flex;
    align-items:center;
    flex-direction: column;
    justify-item: space-between;
    background-color: white;
    color: #333;
    font-size: large;
}
